## Exercise A

1. Create a string containing a single quote.
2. Create a string containing a double quote.
3. Create a string containing both a single quote a double quote.
4. Create a variable containing a first and last name and print them in reverse order with a space between them.

In [ ]:
# 1.
x = "I'm"
x

"I'm"

In [ ]:
# 2.
x = 'I"m'
x

'I"m'

In [ ]:
# 3.
x = "I'm \"Here"
x

'I\'m "Here'

In [ ]:
# 4.
name = "Mohamed"[::-1] + ' ' + "Anwar"[::-1]
name

'demahoM rawnA'

## Exercise B

1. Write a code to display the first and last word from the following String: **'This is my first assignment for week1'**
2. Create a string ( providing the string represents a whole number), then obtain its integer representation.
3. Given these strings:

    s1 = 'abcd', 
    s2 = 'efgh'

    Create a new string composed of the first string followed by (concatenated with)
    the second.

4. Create a single string containing 5 copies of the string 'abc'.
5. Use the multiplication operator to create a "line" of 50 dashes.
6. Strip all the whitespace characters off the right end of a string.
7. Convert a string to all upper case.
8. Write a sequence (string) of comma-separated numbers and generate a list with those numbers.
9. Given a string of odd length greater than 7, return a string made of the middle three characters of the string.
10. Given a string and an integer number n, remove characters from a string starting from zero up to n and return a new string.
11. Given a string, return True if the first character and the last character of a the string is the same.

In [ ]:
# 1.
s = 'This is my first assignment for week1'
lst = s.split()
print(lst[0], lst[-1])

This week1

In [ ]:
# 2. 
num = "3"
x = int(num)
print(x, type(x))

3 <class 'int'>

In [ ]:
# 3.
s1 = 'abcd'
s2 = 'efgh'
s = s1 + s2
print(s)

abcdefgh

In [ ]:
# 4.
s = "abc"*5
print(s)

abcabcabcabcabc

In [ ]:
# 5.
line = '-'*50
line

'--------------------------------------------------'

In [ ]:
# 6.
s = "here         "
print(s.rstrip())

here

In [ ]:
# 7.
s = "hello"
print(s.upper())

HELLO

In [ ]:
# 8.
s = '1,2,3,4,5,6,7,8,9'
print(list(map(int, s.split(','))))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 9.
s = "abdulghanie"
half_length = len(s)//2
s[half_length-1:half_length+2]

'lgh'

In [ ]:
# 10.
s = "hello"
n = 3
print(s[n:])

lo

In [ ]:
# 11.
s = "anna"
# s = "hello"
s[0] == s[-1]

True

## Exercise C:


1. Write a code that take an integer (n) and computes the value of n+nn+nnn.

2. Write a code that take the number of seconds, and calculate the number of minutes and seconds. For example, “130” you should print “2 minutes and 10 seconds”.
3. Write the shorthand of the expression below:

    x = 2

    y = 3

    z = 10

    x = x + 1

    y = y / 2

    z = z * (x + y)
  
4. Initialize two variables to values 9 and 2 respectively. Then: increment each variable first by value 2 (means you update those variables using shortcut). print the variables before and after after incrementing.
5. Integer divide the two variables (divide the larger value with the lower one), and assign the result to another variable called c.
Print the variable c and make sure you have the desired result

In [ ]:
# 1.
n = 10
print(n+(n*n)+(n**3))

1110

In [ ]:
# 2.
n = 1250

minutes = n//60
secs = n - (minutes*60)
print(f"{n} seconds = {minutes} minutes, {secs} seconds!")

1250 seconds = 20 minutes, 50 seconds!

In [ ]:
# 3.
x = 2
y = 3
z = 10

x += 1
y /= 2
z *= (x+y)
z

45.0

In [ ]:
# 4.
x,y = 9,2
print("Before incrementing:", x, y)

x += 2
y += 2
print("After incrementing:", x, y)

Before incrementing: 9 2
After incrementing: 11 4

In [ ]:
# 5.
if x > y:
    c = x//y
else:
    c = y//x
print(c)

2

## Exercise D
1. Given a two integer numbers print their product and  if the product is greater than 1000, then print their sum.
2. Given two literal strings (containing only digits), calculate their sum and print it as a string.
3. Write a code to calculate the sum of three given numbers, if the values are equal then print three times of their sum else print their sum.
4.  Write a code to compute the distance between the points p1 = (x1, y1) and p2 = (x2, y2), (p1 and p2 are strings). Example: p1 and p2 can be declare as p1 = '(2, 3)', p2 = '(5, 6)'. (hint: use indexing for string, casting from str to int). 
5. Given two numbers print their product if their are odd numbers, their sum if they are even and their division in any other cases.

In [ ]:
# 1.
x = 90
y = 50

product = x * y
print(f"Product: {product}")
if product > 1000:
    print(f"sum {x+y}")

Product: 4500
sum 140

In [ ]:
# 2.
x = "90"
y = "50"

sum = int(x) + int(y)
sum_casted = str(sum)
print(sum_casted, type(sum_casted))

140 <class 'str'>

In [ ]:
# 3.
n1, n2, n3 = 1, 2, 3
total = n1 + n2 + n3
if n1 == n2 == n3:
    print(3*total)
else:
    print(total)

6

In [ ]:
# 4.
p1 = '(1, 1)'
p2 = '(3, 4)'

p1 = (int(p1[1]), int(p1[-2]))
p2 = (int(p2[1]), int(p2[-2]))

# get the distance
distance = ((p1[0]-p2[0])**2 + (p1[1] - p2[1])**2)**0.5
print(distance)

3.605551275463989

In [ ]:
# 5.
n1 = 3
n2 = 2
if n1%2==1 and n2%2==1:
    # both are odd
    print(f"Product: {n1*n2}")
elif n1%2==0 and n2%2==0:
    print(f"Sum {n2+n1}")
else:
    print(f"Division: {n2/n1}")

Division: 0.6666666666666666